body{
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
    line-height: 60px;
}


.blue{
    color: #3A3658;
    
}
.red{
    color: #FF8367;
    line-height: 20px;
}
.full{
    color: #6C6C6C;
    font-size: 15px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(160deg, #FF8367, rgb(196, 67, 53));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
.upper-sec{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
    
}
.upper-sec img{
    width: 100%;
    margin-bottom: 150px;
    
}
.about{
    margin-top: 100px;
}
.first{
    line-height: 20px;
}
.first-image{
    margin-top: 40px;
}
.blues{
    color: #6C6C6C;
}
.three-image{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;

}